body {
  background-color: #63768D;
}

h1 {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: black;
  font-size: 28px;
}

form textarea {
  width: 800px;
  min-height: 300px;
  overflow: auto;
  outline: none;
  resize: none;
  border-radius: 10px;
  border: none;
  padding: 24px;
  margin: 24px;
  font-family: sans-serif;
}

form  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

input  {
  margin: 12px;
  width: 200px;
  color: white;
  border-radius: 4px;
  outline: none;
  border: gray;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.wom-form__controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wom-form__controls__method-options {
  background-color: #8AC6D0;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.13);
  text-align: left;
  max-width: 300px;
  max-height: 110px;
  margin-top: 24px;
}

.wom-form__controls__method-options h3 {
  margin-top: 0;
}

.wom-form__controls__method-options input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.wom-form__controls__method-options {
  padding: 24px;
}

.wom-form__controls__method-options label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wom-form__controls__method-options label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.wom-form__controls__method-options__radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #B8F3FF;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.wom-form__controls__method-options label:hover input ~ .wom-form__controls__method-options__radio {
  background-color: #63768D;
}

/* When the radio button is checked, add a blue background */
.wom-form__controls__method-options label input:checked ~ .wom-form__controls__method-options__radio {
  background-color: #554971;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.wom-form__controls__method-options__radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.wom-form__controls__method-options label input:checked ~ .wom-form__controls__method-options__radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.wom-form__controls__method-options label .wom-form__controls__method-options__radio:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.wom-form__input {
  background-color: #554971;
  padding: 12px;
}

.wom-form__input:hover {
  background-color: #36213E;
}

.App-link {
  color: #61dafb;
}


.wom-text__x {
  background-color: #b0d7b8;
}

.wom-text__verb {
  background-color: #3b33cf;
}

.wom-text__sym {
  background-color: #37726a;
}

.wom-text__sconj {
  background-color: #b116d5;
}

.wom-text__punct {
  background-color: #ada681;
}

.wom-text__propn {
  background-color: #cf2943;
}

.wom-text__pron {
  background-color: #676f68;
}

.wom-text__part {
  background-color: #5284cf;
}

.wom-text__num {
  background-color: #804f01;
}

.wom-text__noun {
  background-color: #119898;
}

.wom-text__noun {
  background-color: #ca7d6f;
}

.wom-text__intj {
  background-color: #e0e046;
}

.wom-text__det {
  background-color: #a8dadf;
}

.wom-text__conj {
  background-color: #e4c216;
}

.wom-text__aux {
  background-color: #2a1aa3;
}

.wom-text__adv {
  background-color: #450a54;
}

.wom-text__adp {
  background-color: #b25e77;
}

.wom-text__adj {
  background-color: #730f0c;
}

.wom-text {
  padding: 4px;
  border-radius: 4px;
}

.wom-text__x {
  background-color: #b0d7b8;
}

.wom-text__verb {
  background-color: #3b33cf;
}

.wom-text__sym {
  background-color: #37726a;
}

.wom-text__sconj {
  background-color: #b116d5;
}

.wom-text__punct {
  background-color: #ada681;
}

.wom-text__propn {
  background-color: #cf2943;
}

.wom-text__pron {
  background-color: #676f68;
}

.wom-text__part {
  background-color: #5284cf;
}

.wom-text__num {
  background-color: #804f01;
}

.wom-text__noun {
  background-color: #119898;
}

.wom-text__noun {
  background-color: #ca7d6f;
}

.wom-text__intj {
  background-color: #e0e046;
}

.wom-text__det {
  background-color: #a8dadf;
}

.wom-text__conj {
  background-color: #e4c216;
}

.wom-text__aux {
  background-color: #2a1aa3;
}

.wom-text__adv {
  background-color: #450a54;
}

.wom-text__adp {
  background-color: #b25e77;
}



.text-results {
  width: 800px;
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  margin: 0;
}

sub {
  margin-left: 4px;
  font-size: 12px;
}

